/.idea
/JyQipai_server.sublime-workspace
~$*.*
*.vpp~*
/skynet/fcount_test/
/server.sublime*

*.log
*.pid
/skynet2
/skynet3
/skynet4
**/Debug/
**/.vs/
*.vcxproj.user
/skynet/nul
*.*~*
client_bug_report*.txt
/skynet/3rd/skynet_3rd_code/
/.ftpconfig
/.vscode
/skynet/gamelogic_debug.dump
/skynet/logs/sql_error.txt
/skynet/logs/bak
/skynet/logs/bak*
skynet/game/services/xiaoxiaole_lottery_center_service/xxl_xc_map.lua
/skynet/logs/danren_match_info.txt
/skynet/logs/round_data.txt
